parameters:
    paths:
        - './'

    reportUnmatchedIgnoredErrors: true

    excludes_analyse:
        # Makes PHPStan crash
        - 'DependencyInjection/Configuration.php'
        - './spec/'
        - './Tests/'
        - './vendor/'
